<footer>
    <div class="footer bar">
        <div class="column">
            <li class="label">Navigation</li>
            <li>Home</li>
            <li>Animations</li>
            <li>Pricing</li>
            <li>Studio</li>
            <li>Profile</li>
        </div>
        <img src="/public/assets/Logo/W Blanc.png" alt="Paraphe Logo">
        <div class="column">
            <li class="label">Links</li>
            <li>Twitter</li>
            <li>Terms and conditions</li>
        </div>
    </div>
    <p>&copy; 2024 wrappy.com</p>
</footer>