<header>
    <a class="logo" href="#">
        <img src="assets/Logo/Wrappy.png" alt="">
    </a>
    <nav class="nav">
        <li>Animations</li>
        <li> <a href="#Pricing">Pricing</a></li>
        <li>Log in</li>
    </nav>
</header>