<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrappy - Digitally wrap your gift</title>
    <link rel="icon" href="assets/Logo/Primary.png" type="image/icon type">
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <%- body %>

    <%- include('../partials/footer.ejs') %>
</body>

</html>